<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Vue To Do List</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/modal.css">

  </head>
<body>

<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">

            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>

<div id="app" class="panel-heading">
  <div class="panel-body">
    <p>{{ header }}</p>
    <div class="form-group">
      <input type="text" placeholder="Name" v-model="item.title">
      <input type="text" placeholder="Description" v-model="item.description">
      <button class="btn btn-primary" v-on:click="addItem">Submit</button>
    </div>
  </div>

  <div class="list-group">

    <div href="#" class="list-group-item" v-for="(item, index) in items">

      <h4 class="list-group-item-heading">
        <i class=""></i>
        Name: {{ item.title  }}
      </h4>

      <p class="list-group-item-text" v-if="item.description">Description: {{ item.description }}</p>
      <p class="list-group-item-text">Completed: {{item.completed}}</p>
      <br/>
      <button class="btn btn-xs btn-danger" v-on:click="deleteItem(index)">Delete</button>
      <button id="show-modal" @click="showModal = true">Update</button>
      <button class="btn btn-xs" v-on:click="completeItem(index)">Complete</button>

    </div>

    <!-- use the modal component, pass in the prop -->
    <modal v-if="showModal" @close="showModal = false">

      <div slot="body">
        <input type="text" placeholder="description" name="update-item">
      </div>

      <div slot="footer">
        <button @click="$emit('close')">Cancel</button>
        <button class="modal-default-button" @click="$emit('close')" v-on:click="updateItem()">Update</button>
      </div>

      <h3 slot="header">Name: </h3>
    </modal>

  </div>

</div>

<script src="/static/vue/vue.js"></script>
<script src="/static/vue-resource/vue-resource.js"></script>
<script src="/js/main.js"></script>

</body>
</html>
